@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --text-color-muted: #555555;
  --surface-color: #f7f8fa;
  --border-color: #b9b9b9;
  --accent: #4a4a4a;
  --dots-color: #555555;
  --card-border: rgb(52, 52, 52);
  --card-radius: 12px;
  --btn-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0b0b0b;
    --text-color: #eeeeee;
    --text-color-muted: #bdbdbd;
    --surface-color: #111111;
    --border-color: #aaaaaa;
    --accent: #4a4a4a;
    --dots-color: #656565;
    --card-border: rgba(255, 255, 255, 0.596);
  }
}
